img {
    border-radius: 25%;
    margin-right: 20px;
}

.userName {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 1px;
}