.container {
    margin: 50px auto;
}

.container form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    position: relative; 
    align-items: center;
}

.container form input {
    
        background: #fff;
        border: 0;
        border-radius: 4px;
        width: 350px;
        height: 44px;
        padding: 0 15px;
        color: #333;
        margin: 0 0 10px;
}

.container hr {
    border: 0;
    height: 1px;
    background: rgba(255,255,255,0.2);
    margin: 10px 0 20px;
  }

.update-profile-bnt {
   
        margin: 5px 0 0;
        height: 44px;
        width: 350px;
        background: #3b9eff;
        font-weight: bold;
        color: #FFF;
        border: 0;
        border-radius: 4px;
        font-size: 16px;
        transition: filter 0.3s;
}

.update-profile-bnt:hover {
    filter:brightness(70%);    
}

.quit-bnt {
    width: 350px;
    margin: 10px 0 0;
    height: 44px;
    background: #e02041;
    font-weight: bold;
    color: #FFF;
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    transition: filter 0.3s;
}

.quit-bnt:hover {
    filter:brightness(70%); 
}