.projects-container {
    width: 100%;
    max-width: 1100px;
    padding: 0 30px;
    margin-top:80px;
    margin-left: 50px;

}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #FFF;
    
} 

.header button {
    margin-top: 25px;
    margin-left: -1px;
    background: none;
    color: #FFF;
    border: 0;
    
} 

/* .body {
    display: flex;
    flex-direction: row;
} */

.projects-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
    
}



.projects-container ul li {
   background: #1b2139;
   padding: 24px;
   border-radius: 12px; 
   position: relative;
}

.projects-container ul li strong {
    color: #FFF;
 }

 .projects-container ul li p {
    color: #FFF;
 }

 .img-project {
     width: 280px;
     margin-left: auto;
     margin-right: auto;
     height: 200px;
     border-radius: 10px;
     padding: 5px;
     align-self: center;
 }
 #room-native-simple {
     width: 200px;
 }


.standard-basic input {
    width: 220px;
    margin-bottom: -3px;
}

 .update-project {
    height: 44px;
    background: #4c7bff;
    color: #FFF;
    border: 0;
    border-radius: 8px;
    font-size: 14px;
 }

